[flake8]
# Files and directories to not check
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    *.pyc,
    *.egg-info,
    *.json,
    # Dependencies and files if required:
    # external_libs,
    # code.py,